body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --color-plainwhite: #ffffff;
    --color-gray1: #999999;
    --color-lightgray: #797979;
    --color-washed-greengray1: #e9fbf8;
    --color-washed-greengray2: #b3b8b8;
    --color-blue1: #357edd;
    --color-blue2: #3f87a6;
    --color-gold: #ffb700;
    --color-orange: #f30;
    --color-green1: #00992fb0;
    --color-neon-green: #00ff66;
    --color-neon-green2: #00ff66a6;
    --main-color: var(--color-blue2);
    --secondary-color: var(--color-blue2);
    --text-bg-color: var(--washed-greengray2);
}

.bg-text {
    background-color: var(--text-bg-color);
}

.f1-9 {
    font-size: 1.85rem;
}

a,
a:visited,
a:hover {
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.social-link {
    color: #000000 !important;
    text-decoration: none !important;
    border-bottom: none;
}

hr.slashed-hr {
    height: 6px;
    background: url(../assets/slashed-hr.png) repeat-x 0 0;
    border: 0;
}

.header-bg {
    background-color: var(--main-color);
}

.blockquote-bg {
    border-color: var(--main-color);
}

.contents-inline p {
    display: inline;
}

.time-period-color {
    color: var(--color-lightgray);
}

.time-period {
    display: inline;
}

.job-title-color {
    color: var(--main-color);
}

.job-place {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.5rem;
    /*color: hsla(0, 0%, 0%, 0.8);*/
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 2.25rem;
}

@media screen and (max-device-width: 950px) {
    .w-30,
    .w-70,
    .w-50 {
        display: block;
        width: 100%;
    }
    .time-period {
        display: block;
        width: 100%;
        font-size: 1.6rem;
        margin-top: 12px;
    }
    .f3-ns {
        font-size: 2rem;
    }
    .f4-ns {
        font-size: 1.8rem;
    }
    .f5-ns {
        font-size: 1.6rem;
    }
    .job-place {
        font-size: 2.5rem;
    }
    .subheader {
        font-size: 2.9rem;
    }
}